<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>706210781500-6l094qihir23anr4qk3g6hbmmeig8pcb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706210781500-6l094qihir23anr4qk3g6hbmmeig8pcb</string>
	<key>API_KEY</key>
	<string>AIzaSyAkahXUQ-UIw5pvHfq5QdGOsijk0Hejqzg</string>
	<key>GCM_SENDER_ID</key>
	<string>706210781500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.piyushh.finatic</string>
	<key>PROJECT_ID</key>
	<string>finatic-f4060</string>
	<key>STORAGE_BUCKET</key>
	<string>finatic-f4060.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706210781500:ios:54a0727e6f0cc16e5de639</string>
	<key>DATABASE_URL</key>
	<string>https://finatic-f4060.firebaseio.com</string>
</dict>
</plist>